body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.nav-icons {
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
    padding: 0.5rem;
    width:100%;
}
nav {
    margin-top:1rem;
    width:63vw;
}

.html5-icon{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right:0.2rem;
    font-size: 2rem;
    
}

.html5-text{
    display:flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.elipsis{
    display:flex;
    align-items: center;
    font-size: 35px;
    
}

.icons {
    display:flex;
    flex-direction:row;
    margin-top: 0.5rem;
    font-size:2rem;
    
}


.save {
    display:flex;
    flex-direction:row;
    margin-left: auto;
    
}

.lorem {
    width:62.8vw;
}

