body{
    margin: 0px;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}
.html5-icon{
    display: flex;
    padding:1rem;
    font-size: 1.8rem;
}

.html5-text{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
