body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0px;
}

.nav-icons {
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
    padding: 0.5rem;
    width:100%;
}
.navv {
    margin-top:3rem;
    width:24vw;
}

.html5-icon{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right:0.2rem;
    font-size: 2rem;
    
}

.html5-text{
    display:flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.elipsis{
    display:flex;
    align-items: center;
    font-size: 35px;    
}

img {
    display:flex;
    flex-direction:row;
    justify-self: center;
    align-items: center;
    width:450px;
    height:500px;
}

.flex-icons{
    justify-self: center;
    width:24vw;
}

.icons {
    display:flex;
    flex-direction:row;
    margin-top: 1.2rem;
    font-size:2rem;
    
}


.save {
    display:flex;
    flex-direction:row;
    margin-left: auto;
    
}

.liked {
    justify-self:center;
    width:24vw;
    margin-top:1.5rem;
}

.lorem {

    justify-self:center;
    margin:0;
    width:24vw;
}

