.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 2rem;
    border:2px solid red;
    width:30vw;
    height:80vh;
}

.icons {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    border:2px solid yellow;
    padding: 0.8rem;
}

.html-icon{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.html-text{
    display:flex;
    flex-direction: column;
    font-size: 1rem;
}

.rigo {
    font-size:1rem;
}

.elipsis{
    
    font-size: 2rem;
}

img {
    display:flex;
    width: 30vw;
    height: 40vh;
    object-fit: cover;
}

.like {
    display:flex;
    justify-content: space-between;
    font-size:2rem;
    border:2px solid green;
    margin-top:0.5rem;
}

.like-icons{
    display:flex;
    flex-direction: row;
    border:2px solid purple;
}

.save {
    display:flex;
    justify-content: space-between;
    border:2px solid red;   
}

.text{
    font-size: 1rem;
    border:2px solid purple;
}

.lorem {
    font-size: 1em;
    border: 2px solid peru;
}

